<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> weather like?</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
</head>

<body>
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    What's poll you wanna post?
                </h1>
            </div>
            
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    <form method="POST">
                        <div class="field has-addons">
                            <div class="control is-expanded">
                                <input class="input" name="pollquestion" type="text" placeholder="City Name">
                            </div>
                            
                            <div class="control">
                                <button class="button is-info">
                                    question
                                </button>
                            </div>
                        </div>

                        <div class="field has-addons">
                          <div class="control is-expanded">
                              <input class="input" name="option1" type="text" placeholder="City Name">
                          </div>
                          
                          <div class="control">
                             
                          </div>
                      </div>

                      <div class="field has-addons">
                        <div class="control is-expanded">
                            <input class="input" name="option2" type="text" placeholder="City Name">
                        </div>
                        
                        <div class="control">
                           
                        </div>
                    </div>
                    <div class="field has-addons">
                        <div class="control is-expanded">
                            <input class="input" name="option3" type="text" placeholder="City Name">
                        </div>
                        
                        <div class="control">
                           
                        </div>
                    </div>

                    </form>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    {% for weather in weather_data %}
                    <div class="box">
                        <article class="media">
                            
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                         <span class="title">{{ weather.poll }}</span>
                                        <br> <!--
                                        <span class="subtitle">{{ weather.op1}}° F</span>
                                        <br> {{ weather.op2 }}n -->
                                        <!-- <button class="button is-info" onclick="/aj">
                                          {{weather.op1}}
                                        </button>
                                        <button class="button is-info" onclick="/aj">
                                          {{weather.op2}}
                                        </button>
                                        {% if weather.op3 %}
                                        <button class="button is-info" onclick="/aj">
                                            {{weather.op3}}
                                          </button>
                                        {% endif %}
                                    </p>

                                </div>
                            </div>
                        </article>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
    </footer>
</body>

</html> --> 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>newsample</title>
</head>
<body>
    jbwEF;bew
</body>
<script>
    var xhttp = new XMLHttpRequest();
xhttp.onreadystatechange = function() {
    
       var o= xhttp.responseText;
       console.log(o);
    
};
xhttp.open('GET', 'http://127.0.0.1:5000/');
xhttp.send();
</script>
</html>